<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @projeto_bd_estoque.id %>
</p>

<p>
  <strong>Componente:</strong>
  <%= @projeto_bd_estoque.componente %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @projeto_bd_estoque.quantidade %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @projeto_bd_estoque.valor %>
</p>

<%= link_to 'Edit', edit_projeto_bd_estoque_path(@projeto_bd_estoque) %> |
<%= link_to 'Back', projeto_bd_estoques_path %>
